header {
    background-color: #3b3bfd;
  }

  header h1 {
    margin: auto;
    padding: 5px;
    text-align: center;
    color: aliceblue;
  }

  input {
    border: 2px solid black;
  }

  h3 {
    margin: auto;
    font-size: 20px;
  }